@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
.edit-comment-button {
    background-color: white;
    border-style: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 5px 0px !important;
    width: 130px;
    margin-right: 370px !important;
    cursor: pointer;
}

.register-title {
    display: flex;
}

.post-button {
    background-color: #63e363;
    border-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
    margin-right: 150px;
    margin-bottom: 20px;
    cursor: pointer;
}

.cancel-button {
    background-color: #e36387;
    border-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.form-dialog-title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile */
    .post-button {
        padding: 5px 30px;
        margin-right: 10px;
    }

    
}